<%% if(messages || errors) { %%>
<div class="container notices">
    <%% } %%>

    <%% if(messages) { %%>
        <%% messages.forEach(function (message) { %%>
            <div class="alert alert-success"><%%= message %%></div>
        <%% }) %%>
    <%% } %%>

    <%% if(errors) { %%>
        <%% errors.forEach(function (error) { %%>
            <div class="alert alert-danger"><%%= error %%></div>
        <%% }) %%>
    <%% } %%>

    <%% if(messages || errors) { %%>

</div>

<%% } %%>