<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%%= title %%></title>
    <meta name="description" content="A description">
    <%%- css %%>
</head>

<body class="page-body <%%= bodyClass %%>">


<div class="login-container">

    <%% include partials/notices.ejs %%>

    <%%- body %%>

</div>

<%%- js %%>
</body>
</html>
