<div class="login-form">

    <div class="login-content">


        <form method="post" role="form" id="form_login" novalidate="novalidate" action="/">

            <div class="form-group">

                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="entypo-user"></i>
                    </div>

                    <input type="text" class="form-control" name="username" id="username" placeholder="Username" autocomplete="off">
                    </div>

                </div>

                <div class="form-group">

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="entypo-key"></i>
                        </div>

                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" autocomplete="off">
                        </div>

                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block btn-login">
                            <i class="entypo-login"></i>
                        Log In
                        </button>
                    </div>

                </form>


                <div class="login-bottom-links">

                copyright 2014 my company

                </div>

            </div>

        </div>